<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">
<!--    <bean id="bookDao"  class="monster.symbian.dao.impl.BookDaoImpl">-->
<!--    使用静态工厂实例化-->
    <bean id="bookDao"  class="monster.symbian.dao.impl.BookDaoImpl" factory-method="getInstance">

    </bean>
    <bean id="bookService" name="bookService2 service" class="monster.symbian.service.impl.BookServiceImpl" scope="prototype">
        <property name="bookDao" ref="bookDao"></property>
    </bean>
</beans>